
AdopPix/obj/Debug/net5.0/Razor/Views/Shared/_Navbar2.cshtml.g.cs
AdopPix/obj/Debug/net5.0/Razor/Views/Shared/_Navbar2.cshtml.g.cs
AdopPix/obj/Debug/net5.0/Razor/Views/Payment/Index.cshtml.g.cs
AdopPix/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
AdopPix/obj/Debug/net5.0/AdopPix.Views.pdb
AdopPix/obj/Debug/net5.0/AdopPix.Views.dll
AdopPix/bin/Debug/net5.0/AdopPix.Views.pdb
AdopPix/bin/Debug/net5.0/AdopPix.Views.dll
AdopPix/.vs/AdopPix/v17/.suo
