
AdopPix/obj/Debug/net5.0/Razor/Views/Shared/_Navbar2.cshtml.g.cs
AdopPix/obj/Debug/net5.0/Razor/Views/Shared/_Navbar2.cshtml.g.cs
AdopPix/obj/Debug/net5.0/Razor/Views/Payment/Index.cshtml.g.cs
AdopPix/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
AdopPix/obj/Debug/net5.0/AdopPix.Views.pdb
AdopPix/obj/Debug/net5.0/AdopPix.Views.dll
AdopPix/bin/Debug/net5.0/AdopPix.Views.pdb
AdopPix/bin/Debug/net5.0/AdopPix.Views.dll
AdopPix/.vs/AdopPix/v17/.suo
*.dll
AdopPix.Procedure/bin/Debug/net5.0/AdopPix.Procedure.dll
AdopPix.Procedure/bin/Debug/net5.0/AdopPix.Procedure.pdb
AdopPix.Procedure/obj/Debug/net5.0/AdopPix.Procedure.dll
AdopPix.Procedure/obj/Debug/net5.0/AdopPix.Procedure.pdb
AdopPix.Procedure/obj/Debug/net5.0/ref/AdopPix.Procedure.dll
AdopPix.Procedure/obj/Debug/net5.0/refint/AdopPix.Procedure.dll
AdopPix.Services/bin/Debug/net5.0/AdopPix.Procedure.dll
AdopPix.Services/bin/Debug/net5.0/AdopPix.Procedure.pdb
AdopPix.Services/bin/Debug/net5.0/AdopPix.Services.dll
AdopPix.Services/bin/Debug/net5.0/AdopPix.Services.pdb
AdopPix.Services/obj/Debug/net5.0/AdopPix.Services.csproj.AssemblyReference.cache
AdopPix.Services/obj/Debug/net5.0/AdopPix.Services.dll
AdopPix.Services/obj/Debug/net5.0/AdopPix.Services.pdb
AdopPix/.vs/AdopPix/v17/.suo
AdopPix/bin/Debug/net5.0/AdopPix.dll
AdopPix/bin/Debug/net5.0/AdopPix.pdb
AdopPix/bin/Debug/net5.0/AdopPix.Procedure.dll
AdopPix/bin/Debug/net5.0/AdopPix.Procedure.pdb
AdopPix/bin/Debug/net5.0/AdopPix.Services.dll
AdopPix/bin/Debug/net5.0/AdopPix.Services.pdb
AdopPix/obj/Debug/net5.0/AdopPix.csproj.AssemblyReference.cache
AdopPix/obj/Debug/net5.0/AdopPix.csproj.FileListAbsolute.txt
AdopPix/obj/Debug/net5.0/AdopPix.csproj.FileListAbsolute.txt
AdopPix/obj/Debug/net5.0/AdopPix.dll
AdopPix/obj/Debug/net5.0/AdopPix.pdb
AdopPix/obj/Debug/net5.0/AdopPix.RazorCoreGenerate.cache
AdopPix/obj/Debug/net5.0/project.razor.json
AdopPix/obj/Debug/net5.0/Razor/Views/Auction/AuctionPost.cshtml.g.cs
AdopPix/obj/Debug/net5.0/Razor/Views/Auction/Edit.cshtml.g.cs
AdopPix/obj/Debug/net5.0/Razor/Views/Auction/Index.cshtml.g.cs
AdopPix/obj/Debug/net5.0/ref/AdopPix.dll
AdopPix/obj/Debug/net5.0/refint/AdopPix.dll
