@model TopUpViewModel

<h1>Top up</h1>
<h2>Current money: @Model.CurrentMoney</h2>
<form id="checkoutForm" asp-action="Index" method="post">
    <input type="hidden" name="omiseToken">
    <input type="hidden" name="omiseSource">
    <div>
        <label>The amount you want to top up</label>
        <input type="number" name="money" id="money" asp-for="Money"/>
        <span asp-validation-for="Money"></span>
    </div>
    <input id="checkoutButton" type="submit" class="btn btn-info" value="Payment with credit card"/>
</form>

<script type="text/javascript" src="https://cdn.omise.co/omise.js">
</script>
<script>
  OmiseCard.configure({
    publicKey: "pkey_test_5rgqyeyx84l0zn3rbft"
  });

  var button = document.querySelector("#checkoutButton");
  var form = document.querySelector("#checkoutForm");

  button.addEventListener("click", (event) => {
    event.preventDefault();

    OmiseCard.open({
      amount: document.getElementById("money").value * 100,
      currency: "THB",
      frameLabel: "AdopPix",
      image: "https://adoppix.s3.ap-southeast-1.amazonaws.com/AdopPixLogo.png", 
      defaultPaymentMethod: "credit_card",
      onCreateTokenSuccess: (nonce) => {
          if (nonce.startsWith("tokn_")) {
              form.omiseToken.value = nonce;
          } else {
              form.omiseSource.value = nonce;
          };
        form.submit();
      }
    });

  });
</script>