@model TopUpViewModel
<div class="box-controller">
<div class="text-center ">
    <h1 class="topup-text">Top up</h1>
    <div style="display: inline-flex;">
        <h2 style="color: #949494;">Current money :&nbsp; </h2>
        <h2 style="color: #5BA8DE; font-weight: 800; ">@Model.CurrentMoney</h2> 
    </div>
    
</div>

<form id="checkoutForm" asp-action="Index" method="post">
    

    
    <input type="hidden" name="omiseToken">
    <input type="hidden" name="omiseSource">
    <div class="d-flex justify-content-center mt-5">
        <div class="w-50">
            <label>The amount you want to top up</label>
            <input type="number" name="money" id="money" asp-for="Money" class="form-control mt-2 input-rework" />
            <span asp-validation-for="Money"></span>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
        <div class="w-50">
            <h4 class="payment-medthod-text">Payment method</h4>
            <hr />
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="d-grid gap-2">
            <input id="checkoutButton" type="submit" class="payment-credit-card" value="Payment with credit card" />
        </div>
    </div>
    
</form>
</div>

<script type="text/javascript" src="https://cdn.omise.co/omise.js">
</script>
<script>
    OmiseCard.configure({
      publicKey: "pkey_test_5rgqyeyx84l0zn3rbft"
    });

    var button = document.querySelector("#checkoutButton");
    var form = document.querySelector("#checkoutForm");

    button.addEventListener("click", (event) => {
      event.preventDefault();

      OmiseCard.open({
        amount: document.getElementById("money").value * 100,
        currency: "THB",
        frameLabel: "AdopPix",
        image: "https://adoppix.s3.ap-southeast-1.amazonaws.com/AdopChan.png",
        defaultPaymentMethod: "credit_card",
        onCreateTokenSuccess: (nonce) => {
            if (nonce.startsWith("tokn_")) {
                form.omiseToken.value = nonce;
            } else {
                form.omiseSource.value = nonce;
            };
          form.submit();
        }
      });

    });
</script>
<style>
    body{
       background:url('https://adoppixstorage.s3.ap-southeast-1.amazonaws.com/bg-topup.jpg') no-repeat !important;  
}

footer{
    display:none;
}

.box-controller{
    height: 50vh;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    width: 25vw;
margin: 0 auto;
margin-top: 19%;
}
.topup-text{
    padding-top: 30px; 
    font-weight: 900;
font-size: 50px;
background: linear-gradient(90deg, #96C3E0 0%, #52A2DB 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

}
.payment-medthod-text{
      font-size: 1rem;
  font-weight: bolder;
  color: #949494;
  text-align: center;
}

.payment-credit-card{
    background: linear-gradient(90deg, #8BCDED 0%, #4F9FDA 100%);
box-shadow: 0px 4px 4px rgba(159, 159, 159, 0.25);
border-radius: 6px;
width: 211px !important;
height: 59px;
border: none;
color: white;
}
.input-rework{
    border: 2px solid #4F9FDA;
border-radius: 5px;
height: 48px;
font-size: 1.5rem;
text-align: end;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



</style>
