@model AuctionViewModel 

@{ ViewData["Title"] = "Courses details"; }

<div class="row" style="padding-top: 88px">
    <div class="col-md-8 offset-2" style="padding-top: 40px;">
       

                            <p class="card-text">
                                <h5 class="card-title" style="font-size: 2.3rem; padding-top: 34%; border-bottom: 1px solid lightgray; padding-bottom: 5%; ">
                                    @Model.UserId
                                </h5>
                            </p>
                      
    </div>
</div>

