@model AuctionViewModel 

@{ ViewData["Title"] = "Courses details"; }

<div class="row" style="padding-top: 88px">
    <div class="" style="padding-top: 40px;">


         <h2 style="font-weight: 700;font-size: 24px;line-height: 30px;color: #CECECE;">History</h2>
                
    </div>
</div>


<style>
img {
  -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
-ms-user-select: none;
user-select: none;

-webkit-user-drag: none;
-khtml-user-drag: none;
-moz-user-drag: none;
-o-user-drag: none;
-ms-user-drag: none;
user-drag: none;
  pointer-events: none;
}


.Time-bg{
    background: #ECECEC;
padding: 20px;
border-radius: 18px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
input.middle:focus {
    outline-width: 0;
}
*:focus {
    outline: none;
}
.form-control:focus{
    box-shadow: none;
}
.btn-outline-success:focus{
    box-shadow: none;
}
</style>

