@page
@model AdopPix.Pages.auth.AuthenticatorLoginModel
@{
}
<div class="d-flex justify-content-center box-auth" style="">
    <div>
        <div class="d-flex justify-content-center mt-5 mb-3">
            <img src="https://www.dynamicpeople.nl/wp-content/uploads/2021/03/Authenticator-app-1600x1065.png" class="img-fluid w-25" />
        </div>
        <div class="d-flex justify-content-center mb-3">
            <h4>Enter your security code from your authenticator app</h4>
        </div>



        <div class="d-flex justify-content-center mt-5">
            <form method="post">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label class="col-form-label">Security Code</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" asp-for="authenticatorLoginViewModel.SecurityCode" class="form-control" />
                    </div>
                    <span asp-validation-for="authenticatorLoginViewModel.SecurityCode"></span>
                    <div class="col-auto">
                        <input type="submit" value="verify" class="btn btn-success" />
                    </div>
                </div>
                @if (ViewData["ErrorMessage"] != null)
                {
                    <p class="alert alert-danger mt-3 text-center">@ViewData["ErrorMessage"]</p>
                }
                <input type="hidden" asp-for="authenticatorLoginViewModel.RememberMe" />
                        <div class="d-grid gap-2 mt-5">
                <a asp-page="/auth/login" class="btn btn-outline-dark w-100">Back to login</a>
        </div>
            </form>
        </div>


    </div>
</div>

<style>
    body{
       background:url('https://adoppixstorage.s3.ap-southeast-1.amazonaws.com/bg-register.jpg') no-repeat !important;  
}

.box-auth{
    height: 48vh;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    width: 34vw;
margin: 0 auto;
margin-top: 19%;
}

</style>



