@page
@model AdopPix.Pages.auth.AuthenticatorDisableModel
@{
    ViewBag.NavbarIsShow = true;
}

@if (Model.Succeeded)
{
    <div class="d-flex justify-content-center">
        <div>
            <h1>Disable authenticator successfully.</h1>
            <div class="d-grid gap-2 mt-5">
                <a asp-page="/auth/setting" class="btn btn-outline-dark w-100">Back to setting</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="d-flex justify-content-center" style="height: 40vh;">
        <div>
            <div class="d-flex justify-content-center mt-5 mb-3">
                <img src="https://www.dynamicpeople.nl/wp-content/uploads/2021/03/Authenticator-app-1600x1065.png" class="img-fluid w-25" />
            </div>
            <div class="d-flex justify-content-center mb-3">
                <h4>Enter your security code from your authenticator app</h4>
            </div>

            <div class="d-flex justify-content-center mt-5">
                <form method="post">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label class="col-form-label">Security Code</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" asp-for="authenticatorDisableViewModel.SecurityCode" class="form-control" />
                        </div>
                        <span asp-validation-for="authenticatorDisableViewModel.SecurityCode"></span>
                        <div class="col-auto">
                            <input type="submit" value="verify" class="btn btn-success" />
                        </div>
                    </div>
                    @if (ViewData["ErrorMessage"] != null)
                    {
                        <p class="alert alert-danger mt-3 text-center">@ViewData["ErrorMessage"]</p>
                    }
                    <div class="d-grid gap-2 mt-5">
                        <a asp-page="/auth/setting" class="btn btn-outline-dark w-100">Back to setting</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
