@page
@model AdopPix.Pages.auth.ChangePasswordModel
@{
    ViewBag.NavbarIsShow = true;
}

@if (!Model.isSucceeded)
{
    <div class="d-flex justify-content-center" style="height: 80vh;">
        <form class="w-50 mt-5" method="post">
            <h3>Change password</h3>
            <div class="mb-3">
                <label>Password</label>
                <input type="password" class="form-control" asp-for="changePasswordViewModel.OldPassword" />
                <span asp-validation-for="changePasswordViewModel.OldPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label>New Password</label>
                <input type="password" class="form-control" asp-for="changePasswordViewModel.NewPassword" />
                <span asp-validation-for="changePasswordViewModel.NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label>Confirm new password</label>
                <input type="password" class="form-control" asp-for="changePasswordViewModel.ConfirmNewPassword" />
                <span asp-validation-for="changePasswordViewModel.ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div class="d-grid gap-2">
                <input type="submit" value="Change Password" class="btn btn-success w-100 mb-2" />
                <a asp-page="/auth/setting" class="btn btn-outline-danger w-100 mb-2">Cancle</a>
            </div>
        </form>
    </div>
}
else
{
    <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div>
            <div>
                <h1>Password has been changed.</h1>
            </div>
            <div class="mt-4">
                <div class="d-grid gap-2">
                    <a asp-page="/auth/setting" class="btn btn-outline-dark w-100 mb-2">Back to setting</a>
                </div>
            </div>
        </div>

    </div>

}
