@page
@model AdopPix.Pages.auth.ConfirmChangeEmailModel
@{
    ViewBag.NavbarIsShow = false;
}
<div class="w-100 d-flex justify-content-center align-items-center mt-3" style="height: 75vh;">
    <div class="h-75">
        <div class="d-flex justify-content-center">
            <img src="https://d338t8kmirgyke.cloudfront.net/icons/icon_pngs/000/007/873/original/email.png" class="img-fluid w-50" />
        </div>
        <h3>Last step ! go to your new email for confirm email.</h3>
    </div>
</div>