@page
@model AdopPix.Pages.auth.ForgetPasswordModel
@{
    ViewBag.NavbarIsShow = true;
}
@if (Model.Succeeded)
{
    <div class="w-100 d-flex justify-content-center align-items-center mt-3" style="height: 75vh;">
        <div class="h-75">
            <div class="d-flex justify-content-center">
                <img src="https://d338t8kmirgyke.cloudfront.net/icons/icon_pngs/000/007/873/original/email.png" class="img-fluid w-50" />
            </div>
            <h3>Go to your email to reset your password.</h3>
            <div class="d-grid gap-2 mt-5">
                <a asp-page="/auth/login" class="btn btn-outline-dark w-100">Back to login</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="w-50">
            <form method="post">
                <div class="mb-5">
                    <label>Your Email</label>
                    <input type="email" asp-for="forgetPasswordViewModel.Email" class="form-control"/>
                    <span asp-validation-for="forgetPasswordViewModel.Email" class="text-danger"></span>
                </div>
                <div class="d-grid gap-2">
                    <input type="submit" value="Reset password" class="btn btn-success w-100 mb-2" />
                    <a asp-page="/auth/login" class="btn btn-outline-danger w-100 mb-2">Cancle</a>
                </div>
            </form>
        </div>
    </div>
}
