@page
@model AdopPix.Pages.auth.LoginModel
@{
}

<div class="d-flex justify-content-center align-items-center bg-login" style="height: 80vh; margin-top: 5%;">
    <form method="post" class="w-50 controller-form">
        <div>
            <h2 style="font-weight: 900;
font-size: 58px;
line-height: 70px;
text-align: center;
color: #4F9FDA;">
                AdopPix
            </h2>
            <p style="font-weight: 700;
font-size: 14px;
line-height: 18px;
text-align: center;
color: #ADADAD;">
                เริ่มต้นการประมูลรูปภาพของคุณกับเราสิ
            </p>
            <h4 style="text-align:center; font-weight: 900; font-size: 24px; line-height: 28px; color: #4A4A4A;">
                เข้าสู่ระบบ
            </h4>
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input type="text" class="form-control text-input input-rework" asp-for="loginViewModel.Email" />
            <span asp-validation-for="loginViewModel.Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input type="password" class="form-control input-rework" asp-for="loginViewModel.Password" />
            <span asp-validation-for="loginViewModel.Password" class="text-danger"></span>
        </div>
        <div class="d-grid gap-2">
            <input type="submit" value="Login" class="login w-100 mb-2" />
            <a asp-page="/auth/register" class="register w-100 mb-2">Create an account</a>
        </div>
        <hr />
        <p style="font-size: 0.9rem; text-align: center">this site is protected by reCAPCHA Enterprise and the Google
                            Privacy Policy and Terms of Service apply.</p>

        @if (ViewData["ErrorMessage"] != null)
        {
            <p>@ViewData["ErrorMessage"]</p>
        }
    </form>
</div>


<style>

body{
       background:url('https://adoppixstorage.s3.ap-southeast-1.amazonaws.com/bg-login.jpg') no-repeat !important;  
}
.text-input{
    font-size: 1.5rem;
}
.controller-form{
    background: rgba(255, 255, 255, 0.882);
padding: 40px;
border-radius: 10px;
}
.input-rework{
    border-radius: 50px;
border: none;
background: #EEEEEE;
padding: 28px 30px;
    font-size: 20px;
}
   .login {
        background-color: #4F9FDA;
        color: white;
        border-radius: 41px;
        padding: 15px;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 40px;
        font-weight: 700;
        font-size: 26px;
        line-height: 30px;
        border: none;
    }

    .register {
        background-color: white;
        color: #5F5F5F;
        border-radius: 41px;
        padding: 15px;
        text-decoration: none;
        box-shadow: 1px 1px 1px rgb(197, 197, 197);
        font-weight: 700;
        font-size: 26px;
        line-height: 30px;
        display: grid;
text-align: center;
    }
</style>