@page
@model AdopPix.Pages.auth.ResetPasswordModel
@{
    ViewBag.NavbarIsShow = true;
}

@if (Model.Succeeded)
{
    <div class="w-100 d-flex justify-content-center align-items-center mt-3" style="height: 75vh;">
        <div class="h-75">
            <div class="d-flex justify-content-center">
                <img src="https://www.seekpng.com/png/detail/271-2713229_png-file-svg-update-password-icon-png.png" class="img-fluid w-50" />
            </div>
            <h3>Password changed successfully.</h3>
            <div class="d-grid gap-2 mt-5">
                <a asp-page="/auth/login" class="btn btn-outline-dark w-100">Back to login</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="d-flex justify-content-center align-items-center" style="height: 80vh">
        <div class="w-50">
            <form method="post">
                <input type="hidden" asp-for="resetPasswordViewModel.token" />
                <input type="hidden" asp-for="resetPasswordViewModel.userId" />
                <h3>Set your new password</h3>
                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" asp-for="resetPasswordViewModel.Password" class="form-control" />
                    <span asp-validation-for="resetPasswordViewModel.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label>Confirm password</label>
                    <input type="password" asp-for="resetPasswordViewModel.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="resetPasswordViewModel.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="d-grid gap-2">
                    <input type="submit" value="Change password" class="btn btn-success w-100 mb-2" />
                </div>
            </form>
            @if (ViewData["ErrorMessage"] != null)
            {
               <p class="alert alert-danger text-center">@ViewData["ErrorMessage"]</p>
            }
        </div>
    </div>
}
