@page
@model AdopPix.Pages.auth.SettingModel
@{
}

<h1>Security Setting</h1>
<a class="btn btn-success" asp-page="/auth/AuthenticatorSetup">Enable multi factor authentication</a>
<a class="btn btn-success" asp-page="/auth/ChangePassword">Change password</a>