@model List<PostViewModel>
@foreach (var item in Model){
    <a href="/post/@item.PostId">
        <div>
        <img src="@Url.Content($"https://adoppix.s3.ap-southeast-1.amazonaws.com/{@item.ImageName}")" style="width:100px; height: 100px;" id="blah" />
        <h3>@item.Title</h3>
    </div>
    </a>
}