@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <input type="submit"/>
</form>
@if(ViewBag.Succeeded != null)
{
    @if(ViewBag.Succeeded)
    {
        <h1>Upload complete</h1>
    }
    else
    {
        <h1>Upload fail</h1>
    }
}
<p></p>
@if(!string.IsNullOrEmpty(ViewBag.Name))
{
    <img style="width: 30%;" src="@Url.Content($"https://adoppix.s3.ap-southeast-1.amazonaws.com/{@ViewBag.Name}")"/>
}

