<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Email</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div class="center">
        <div class="content" style="width: 500px;">

            <div class="content-welcome">
                <div>
                    <div class="content-logo">
                        <h1 style="font-size: 80px;
                        margin: 0;
                        color: #4f9fda;">AdopPix</h1>
                    </div>
                </div>
            </div>

            <div style="margin-top: 30px;" class="content-desciption">
                <div>
                    <h2 style="color: #000000;">Click the Reset password button to proceed to the next step.</h2>
                </div>
                <p style="font-size: 20px; color: #000000;">if you have problem You can contact us at account@adoppix.com</p>
            </div>

            <div style="margin-top: 30px;" class="content-btn">
                <div>
                    <a href="[url]" style="background-color: #4f9fda;
                    padding: 10px 30px;
                    color: #ffffff;
                    text-decoration: none;
                    font-size: 20px;" class="email-confirm-btn">Reset password</a>
                </div>
            </div>
            <p style="margin-top: 50px; color: #000000;">This is an automated email. please do not reply.</p>
        </div>
    </div>
</body>
</html>